@font-face {
  font-family: "iconfont"; /* Project id 1449891 */
  src: url('iconfont.woff2?t=1675846229155') format('woff2'),
       url('iconfont.woff?t=1675846229155') format('woff'),
       url('iconfont.ttf?t=1675846229155') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shijian:before {
  content: "\e8a9";
}

.icon-cangchucangku:before {
  content: "\e98c";
}

.icon-dashboard:before {
  content: "\e664";
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-RDCIconDashboard:before {
  content: "\e608";
}

.icon-list-close:before {
  content: "\e600";
}

.icon-dayin:before {
  content: "\e638";
}

.icon-quanxian:before {
  content: "\e612";
}

.icon-yunsuan:before {
  content: "\e6fc";
}

.icon-gudingzuoce:before {
  content: "\e63f";
}

.icon-jian-cuxiantiao:before {
  content: "\e66a";
}

.icon-heji:before {
  content: "\e635";
}

.icon-xuanfuchuang:before {
  content: "\e637";
}

.icon-tags:before {
  content: "\e75d";
}

.icon-biaoqianye:before {
  content: "\e63e";
}

.icon-fuwuqingqiu:before {
  content: "\e64f";
}

.icon-yemian:before {
  content: "\e631";
}

.icon-danchuang:before {
  content: "\e63c";
}

.icon-form:before {
  content: "\ebe8";
}

.icon-duoxuan:before {
  content: "\e669";
}

.icon-format_icon:before {
  content: "\e630";
}

.icon-biaotoushezhi_huabanfuben:before {
  content: "\e636";
}

.icon-paixu:before {
  content: "\e64e";
}

.icon-fenyeqi:before {
  content: "\e706";
}

.icon-jichu:before {
  content: "\e627";
}

.icon-17:before {
  content: "\e62a";
}

.icon-tiaojian:before {
  content: "\ec97";
}

.icon-xiangyingshi:before {
  content: "\e74a";
}

.icon-biaodanshejiqi-18:before {
  content: "\e690";
}

.icon-guanbiquanping:before {
  content: "\e625";
}

.icon-quanping:before {
  content: "\e743";
}

.icon-a-ziyuan12:before {
  content: "\e623";
}

.icon-tubiaozhexiantu:before {
  content: "\e79a";
}

.icon-zhuzhuangtu:before {
  content: "\e67a";
}

.icon-tubiaobingtu:before {
  content: "\e63a";
}

.icon-tubiao:before {
  content: "\e622";
}

.icon-shouye2:before {
  content: "\e687";
}

.icon-biji:before {
  content: "\e621";
}

.icon-icon--:before {
  content: "\e70a";
}

.icon-iconset0124:before {
  content: "\e620";
}

.icon-shezhi1:before {
  content: "\e696";
}

.icon-iconset0441:before {
  content: "\e740";
}

.icon-shouqi:before {
  content: "\e61c";
}

.icon-zhankai:before {
  content: "\e61f";
}

